.header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 760px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
